
<div class="header">
	<h1>RaddyAtor<br>
	Setpoint: <%= @setpoint %>°<br>
	Range: ± <%= @range %> °<br>
	Current Indoor Temp: <%= @current_inside %>°<br>
	<% if @heating %>
		Heating diff: <%= @diff %>
	<% end %>
	</h1>



</div>

<div class="cent col-lg-3 col-md-12">
<span>
	<button type="button" class="btn btn-danger">Increase Temp</button>
</span>
<br>
<span>
	<button type="button" class="btn btn-primary">Decrease Temp</button>
</span>
</div>

<div class="thermostat col-lg-6 col-md-12">
<img src="http://i.imgur.com/4bBeYmA.png" width="100%" class="uparrow">
</div>

<!-- <div class="uparrow">
	
</div>

<div class="downarrow">
	<img src="http://i.imgur.com/HqIugfC.png">
</div>
 -->
<div class="col-lg-3 col-md-12 big">
Currently:<br>

<div class="current-temp">
--
</div>

<div class="current-weather">
--
</div>

</div>
