<div class="header tbg">
	<h1>RaddyAtor<br>
	Setpoint: <%= @setpoint.value %></h1>

</div>

<div class="cent col-md-3 col-sm-12">
<span>
	<button type="button" class="btn btn-danger">Increase Temp</button>
</span>
<br>
<span>
	<button type="button" class="btn btn-primary">Decrease Temp</button>
</span>
</div>

<div class="thermostat col-md-6 col-sm-12">
<img src="http://i.imgur.com/HEXaIZ8.png">
</div>

<!-- <div class="uparrow">
	<img src="http://i.imgur.com/4bBeYmA.png">
</div>

<div class="downarrow">
	<img src="http://i.imgur.com/HqIugfC.png">
</div>
 -->
<div class="col-md-3 col-sm-12 tbg big">
Currently:<br>

<div class="current-temp">
--
</div>

<div class="current-weather">
--
</div>

</div>
